body {
  background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
  url('../images/Whangaehu.png');
  font-family: 'Cabin Sketch', cursive;
}

.header {
  font-size: 5rem;
  width: 60%;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 0;
}

.controls {
  width: 50%;
  margin: 0rem auto;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

/* Buttons */
button {
  margin: 1rem 1rem;
  padding: 5px 25px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
}

button:hover {
  transform: scale(1.1);
  transition: .2s ease;
}

.active {
  background-color: palegreen;
}

#reset-btn {
  margin-left: auto;
  background-color: orange;
}

/* Grid */
.container {
  display: grid;
  margin: 2rem auto;
  width: 560px;
  height: 560px;
  border: 1px solid lightgray;
  background-color: white;
}

.pixel {
  background-color: white;
  margin: 0px;
  padding: 0px;
  border: 1px solid lightgray;
}